<!--    <h1>List of Self Help Groups</h1>-->
<!--    {% for shg in shgs %}-->
<!--        <article class="media content-section">-->
<!--          <div class="media-body">-->
<!--            <div class="article-metadata">-->
<!--&lt;!&ndash;              <a class="mr-2" href="#">{{ shg.coordinator }}</a>&ndash;&gt;-->
<!--&lt;!&ndash;              <small class="text-muted">{{ shg.date_formed }}</small>&ndash;&gt;-->
<!--            </div>-->
<!--            <h2><a class="article-title" href="#">{{ shg.name }}</a></h2>-->
<!--            <p class="article-content">Address: {{ shg.address }} and Saving Amt {{ shg.saving_amt}}</p>-->
<!--          </div>-->
<!--        </article>-->