{% extends "base.html" %}

{% block content %}
    <h1>Adding SHG Meeting Details</h1>
    Please add in the details of your SHG meeting here.
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">


                <div class="form-group">
                    {{ form.date.label(class="form-control-label") }}
                    {% if form.date.errors %}
                        {{ form.date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.attended.label(class="form-control-label") }}
                    {% if form.attended.errors %}
                        {{ form.attended(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.attended.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.attended(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.bank_visits.label(class="form-control-label") }}
                    {% if form.bank_visits.errors %}
                        {{ form.bank_visits(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.bank_visits.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.bank_visits(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.govt_visits.label(class="form-control-label") }}
                    {% if form.govt_visits.errors %}
                        {{ form.govt_visits(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.govt_visits.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.govt_visits(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.amt_paid.label(class="form-control-label") }}
                    {% if form.amt_paid.errors %}
                        {{ form.amt_paid(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.amt_paid.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.amt_paid(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.debt.label(class="form-control-label") }}
                    {% if form.debt.errors %}
                        {{ form.debt(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.debt.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.debt(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.loan_taken.label(class="form-control-label") }}
                    {% if form.loan_taken.errors %}
                        {{ form.loan_taken(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.loan_taken.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.loan_taken(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.loan_repaid.label(class="form-control-label") }}
                    {% if form.loan_repaid.errors %}
                        {{ form.loan_repaid(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.loan_repaid.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.loan_repaid(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock %}
