{% extends "base.html" %}

{% block content %}
    <h1>Self Help Group: {{shg.name}}</h1>
        <h>SHG Name is {{shg.name}}</h><br>
        <h>Address is {{shg.address}}</h><br>
        <h>Monthly saving amount is {{shg.saving_amt}}</h><br>
        <h>{{shg.account_num}}</h><br>
        <h>{{shg.bank}}</h><br>
        <h>{{shg.branch}}</h><br>
        <h>{{shg.date_formed}}</h>
        <table border="1">
            <tr>
                <td> Name </td>
                <td> Gender </td>
                <td> Age </td>
                <td> Name of Spouse/Father</td>
                <td> Religion </td>
                <td> Social/Caste Category </td>
                <td> Disability </td>
                <td> Poverty Level </td>
                <td> Current total saving </td>
            </tr>
            {% for member in members %}
                <tr>
                    <td><a class="article-title" href="{{ url_for('member', shg_id=shg.id, member_id=member.id) }}">{{member.name}}</td>
                    <td>{{member.gender}}</td>
                    <td>{{member.age}}</td>
                    <td>{{member.spouse_father}}</td>
                    <td>{{member.religion}}</td>
                    <td>{{member.soc_category}}</td>
                    <td>{{member.disability}}</td>
                    <td>{{member.apl}}</td>
                    <td>{{member.total_saving}}</td>
                    <td><a class="article-title" href="{{ url_for('add_member_meeting', shg_id=shg.id, member_id=member.id) }}"> Add Meeting Details</td>
                </tr>
            {% endfor %}
    {% if shg.num_members!=0 %}
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('eval_shg', shg_id=shg.id, members=members) }}">Evaluate</a>
<!--        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('add_shg_meeting', shg_id=shg.id) }}">Add Meeting Details</a>-->
    {% endif %}

    {% if shg.coordinator.id == current_user.id %}
        <div>

            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('add_member', shg_id=shg.id) }}">Add Member</a>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_shg', shg_id=shg.id) }}">Update SHG</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('home') }}"> Back</a>
        </div>
    {% endif %}
      <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete SHG?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_shg', shg_id=shg.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}